.profilPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15%;
    line-height: 20px;
 
}

.profilPage p {
    
    font-weight: 900;
    font-size: 22px;
}

.profilPage h1 {
    font-size: 35px;
   
}

.profilPage div{
    border:2px solid;

}