body {
    background-color: #f0f2f5;
}

.logInPage {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8%;
    gap: 140px;
}

.pageLeftHolder {
    width: 410px;
    margin-top: -10px;
}

.pageLeftHolder img {
    height: 50px;
}

.pageLeftHolder p {
    font-size: 26px;
    line-height: 28px;
    font-weight: 400;
}

.pageRightHolder {
    display: flex;
    flex-direction: column;
    gap: 12px;
    background-color: #fff;
    width: 360px;
    padding: 18px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
}

.pageRightHolder input {
    height: 51px;
    border-radius: 6px;
    padding-left: 15px;
    outline: none;
    border: 1px solid rgba(128, 128, 128, 0.416);
    caret-color: #0866ff;
    font-size: 17px;
}

.pageRightHolder input:focus {
    outline: #0866ff;
    border-color: #0866ff;
}

.pageRightHolder input::placeholder {
    font-size: 17.5px;
    color: rgba(128, 128, 128, 0.723);
}

.passwordInputContainer {
    position: relative;
  }
  
.passwordInputContainer input {
    width: 84%;
    padding-right: 40px;
}

.passwordInputContainer span {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
}
  
.pageRightHolder .logInButton {
    height: 48px;
    background-color: #0866ff;
    font-size: 20px;
    color: #fff;
    font-weight: 600;
    border: none;
    border-radius: 6px;
    transition: 0.2s;
    cursor: pointer;
}

.pageRightHolder .logInButton:hover {
    background-color: #0867ffeb;
    transition: 0.2s;
}

.pageRightHolder span {
    text-align: center;
}

.pageRightHolder span a {
    text-decoration: none;
    color: #0866ff;
    font-size: 15px;
    font-weight: 500;
}

.pageRightHolder span a:hover {
    text-decoration: underline;
}

.pageRightHolder .dividingLine {
    background-color: rgba(128, 128, 128, 0.416);
    height: 1px;
    margin-top: 16px;
    margin-bottom: 16px;
}

.pageRightHolder .createButton {
    height: 48px;
    width: 200px;
    background-color: #42b72a;
    font-size: 17px;
    color: #fff;
    font-weight: 600;
    border: none;
    border-radius: 6px;
    margin: 0 auto;
    transition: 0.2s;
    cursor: pointer;
}

.pageRightHolder .createButton:hover {
    background-color: #31951d;
    transition: 0.2s;
}
