body {
    background-color: white !important;
}

.signUpHolder {
    display: flex;
    justify-content: center;
    margin-top: 5%;
}

.signUpPage {
    width: 425px;
    height: 575px;
    padding: 0px 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
    border-radius: 8px;
}

.topPlace {
    display: grid;
    grid-template-columns: 25fr 1fr;
}

.topPlace .left {
    line-height: 5px;
}

.topPlace .left h2 {
    font-size: 32px;
    color: #1c1e21;
}

.topPlace .left p {
    font-size: 15px;
    color: #606770;
}

.topPlace .right {
    font-size: 24px;
    color: #606770;
    filter: blur(0.5px);
    cursor:default;
}

.line {
    background-color: rgba(128, 128, 128, 0.416);
    height: 1px;
    margin: 10px auto;
}

.information {
    display: flex;
    flex-direction: column;
    margin-top: 18px;
}

.information .firstLastName {
    display: flex;
    gap: 12px;
    justify-content: space-between;
    margin-bottom: 10px;
}

.information .firstLastName input {
    width: 100%;
    height: 40px;
    padding-left: 11px;
    border-radius: 5px;
    font-size: 17px;
    outline: none;
    border: 1px solid rgba(128, 128, 128, 0.416);
}

.information .sectionName {
    font-size: 12px;
    color:#606770;
    cursor: pointer;
}

.information .birthday input{
    width: 96.9%;
    height: 40px;
    padding-left: 10px;
    border-radius: 5px;
    outline: none;
    border: 1px solid rgba(128, 128, 128, 0.416);
    margin-bottom: 10px;
}

.information .gender {
    display: flex;
    justify-content: space-between;
    gap: 12px;
    margin-bottom: 10px;
}

.information .gender span {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid rgba(128, 128, 128, 0.416);
    padding-left: 10px;
    padding-right: 8px;
}

.information .infoInput {
    height: 40px;
    padding-left: 10px;
    border-radius: 5px;
    outline: none;
    border: 1px solid rgba(128, 128, 128, 0.416);
    margin-bottom: 10px;
    font-size: 17px;
}

.information .footTextHolder {
    line-height: 15px;
    margin-bottom: 13px;
}

.information .footText {
    font-size: 12px;
    color:#606770;
}

.information .footText a {
    text-decoration: none;
    color: #0866ff;
}

.information .footText a:hover {
text-decoration: underline;
}


.information button {
    height: 36px;
    width: 200px;
    background-color:#00a400;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    border: none;
    border-radius: 6px;
    margin: 0 auto;
    transition: 0.2s;
    cursor: pointer;
}