.contact{
    height: 500px;
    width:200px;
    display: flex;
    flex-direction: column;
    gap:15px;
}
.contact input{
    height:40px;
    width:400px;
}
.contact textarea{
    width:400px;
    height:100px;
}

.contact button{
    width: 400px;
    height:60px;
    background-color: brown

}


.ss{
    padding: 10%;
    display:flex;

    gap:250px;
   
}
 .contact h1{
     text-align:center;
     font-size:52px;
 }